<a href="https://colab.research.google.com/github/festuge/selfabsorbed/blob/main/tubeyu.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
age = 20

In [2]:
print (age)

20

In [4]:
price = 19.95

In [9]:
first_name = "Claudi"

In [8]:
is_online = False

In [10]:
patient_name = "John Smith"

In [11]:
age = 20

In [13]:
new_patient = True

In [14]:
input("What is your name? ")

What is your name? Claudi

'Claudi'

In [15]:
name = input("What is your name? ")
print("Hello " + name)

What is your name? Koge
Hello Koge

In [18]:
birth_year = input("Enter your birth year: ")
age = 2022 - int(birth_year)
print(age)

Enter your birth year: 1989
33

In [19]:
first = input("Enter number: ")
second = input("Enter number: ")
sum = int(first) + float(second)
print(sum)

Enter number: 10
Enter number: 10.1
20.1

In [22]:
first = input("Enter number: ")
second = input("Enter number: ")
sum = float(first) + float(second)
print(sum)

Enter number: 20.3
Enter number: 3
23.3

In [23]:
first = input("First: ")
second = input("Second: ")
sum = float(first) + float(second)
print("Sum:" + str(sum))

First: 13.4
Second: 43.3
Sum:56.699999999999996

In [24]:
first = float(input("First: "))
second = float(input("Second: "))
sum = first + second
print("Sum: " + str(sum))

First: 34.5
Second: 2
Sum: 36.5